@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom-scrollbar.css */

/* Hide the default scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 0; /* Set width to 0 to hide the scrollbar */
  height: 0;
}

/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  width: 0; /* Set width to 0 to hide the scrollbar */
  height: 0;
}

/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: transparent; /* Set background color to transparent */
  width: 0; /* Set width to 0 to hide the scrollbar */
  height: 0;
}

/* Handle on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: transparent; /* Set background color to transparent */
  width: 0; /* Set width to 0 to hide the scrollbar */
  height: 0;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-up {
  animation: fadeUp 1s ease-in-out forwards;
  opacity: 1;
}